<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.wear"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <service android:name="org.deviceconnect.android.deviceplugin.wear.DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
