<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.pebble"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.deviceconnect.android.deviceplugin.pebble.setting.PebbleSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="setting"
                    android:path="/diceplus"
                    android:scheme="dconnect" />
            </intent-filter>
        </activity>

        <!-- Contents Provider -->
        <provider
            android:name="org.deviceconnect.android.provider.FileProvider"
            android:authorities="org.deviceconnect.android.deviceplugin.pebble.PebbleDeviceProvider"
            android:exported="true" />

        <receiver
            android:name="org.deviceconnect.android.deviceplugin.pebble.PebbleDeviceProvider"
            android:enabled="true"
            android:exported="true" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/deviceplugin" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.pebble.PebbleDeviceService"
            android:exported="false" >
        </service>

        <!-- LocalOAuth -->
        <activity android:name="org.deviceconnect.android.localoauth.activity.ConfirmAuthActivity"
            android:theme="@style/AppTheme.Translucent">
        </activity>

        <service
            android:name="org.deviceconnect.android.localoauth.LocalOAuth2Service"
            android:exported="false" >
        </service>
    </application>

</manifest>