<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nttdocomo.android.dconnect.deviceplugin.chromecast"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 設定画面 -->
        <activity android:name="com.nttdocomo.android.dconnect.localoauth.activity.AccessTokenListActivity" >
        </activity>
        
        <activity
            android:name=".setting.ChromeCastSettingStepsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Contents Provider -->
        <provider
            android:name="com.nttdocomo.android.dconnect.provider.FileProvider"
            android:authorities="com.nttdocomo.android.dconnect.deviceplugin.chromecast.ChromeCastProvider"
            android:exported="true" />

        <!-- dConnect Provider -->
        <receiver android:name="com.nttdocomo.android.dconnect.deviceplugin.chromecast.ChromeCastProvider" >
            <meta-data
                android:name="com.nttdocomo.android.dconnect.deviceplugin"
                android:resource="@xml/deviceplugin" />

            <intent-filter>
                <action android:name="com.nttdocomo.android.dconnect.intent.action.GET" />
                <action android:name="com.nttdocomo.android.dconnect.intent.action.PUT" />
                <action android:name="com.nttdocomo.android.dconnect.intent.action.POST" />
                <action android:name="com.nttdocomo.android.dconnect.intent.action.DELETE" />
            </intent-filter>
        </receiver>

        <service android:name="com.nttdocomo.android.dconnect.deviceplugin.chromecast.ChromeCastService" >
        </service>

        <!-- LocalOAuth -->
        <activity android:name="com.nttdocomo.android.dconnect.localoauth.activity.ConfirmAuthActivity" >
        </activity>

        <service
            android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service" />
            </intent-filter>
        </service>
    </application>

</manifest>