<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.sphero"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- d-Connect sphero Device Plugin Provider. -->

        <receiver android:name="org.deviceconnect.android.deviceplugin.sphero.SpheroDeviceProvider" 
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/deviceplugin" />
        </receiver>
        <service android:name="org.deviceconnect.android.deviceplugin.sphero.SpheroDeviceService" 
            android:enabled="true"
            android:exported="false">
        </service>
       <activity
            android:name="org.deviceconnect.android.deviceplugin.sphero.setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:label="@string/app_name">
        </activity>
         <!-- LocalOAuth ユーザ認可ダイアログ用Activity -->
        <activity android:name="org.deviceconnect.android.localoauth.activity.ConfirmAuthActivity" >
        </activity>
        
        <!-- LocalOAuth ユーザ認可ダイアログ用Service -->
        <service
            android:name="org.deviceconnect.android.localoauth.LocalOAuth2Service"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.deviceconnect.android.localoauth.LocalOAuth2Service" />
            </intent-filter>
        </service>        
    </application>

</manifest>