<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nttdocomo.android.dconnect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- dConnect Manager設定画面用Activity. -->
        <activity
            android:name="com.nttdocomo.android.dconnect.manager.setting.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="start"
                    android:path="/"
                    android:scheme="dconnect" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- キーワード表示用Activitiy. -->
        <activity
            android:name="com.nttdocomo.android.dconnect.manager.setting.KeywordDialogAcitivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent" >
        </activity>

        <!-- dConnect Managerデバック用Activity. -->
        <activity
            android:name="com.nttdocomo.android.dconnect.manager.setting.ReqResDebugActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 警告画面用Activity. -->
        <activity
            android:name="com.nttdocomo.android.dconnect.observer.activity.WarningDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent" >
        </activity>

        <!-- 各アプリやデバイスプラグインからのDConnectMessageを受領するためのBroadcastReceiver. -->
        <receiver android:name="com.nttdocomo.android.dconnect.DConnectBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
                <action android:name="org.deviceconnect.action.RESPONSE" />
                <action android:name="org.deviceconnect.action.EVENT" />
            </intent-filter>
        </receiver>

        <!-- アプリケーションのインストールやアンインストールといったイベントを受領するためのBroadcastReceiver. -->
        <receiver android:name="com.nttdocomo.android.dconnect.manager.receiver.PackageManageReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- dConnect Manager本体のサービス. -->
        <!-- Activityとは別プロセスで動作させるために、:dconnect_process上で動作させている。 -->
        <service
            android:name="com.nttdocomo.android.dconnect.DConnectService"
            android:exported="false"
            android:process=":dconnect_process" >
        </service>

        <!-- dConnectのファイルを管理するProvider. -->
        <provider
            android:name="com.nttdocomo.android.dconnect.provider.FileProvider"
            android:authorities="com.nttdocomo.android.dconnect.manager.provider"
            android:exported="true" />

        <!-- LocalOAuth -->
        <!-- Local OAuth 認可ダイアログ用Activity. -->
        <activity
            android:name="com.nttdocomo.android.dconnect.localoauth.activity.ConfirmAuthActivity"
            android:theme="@style/AppTheme.Translucent" >
        </activity>

        <!-- Local OAuth アクセストークン管理用Activity. -->
        <activity android:name="com.nttdocomo.android.dconnect.localoauth.activity.AccessTokenListActivity" >
        </activity>

        <!-- Local OAuth 認可処理用サービス. -->
        <service
            android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service"
            android:exported="false"
            android:process=":dconnect_process" >
            <intent-filter>
                <action android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service" />
            </intent-filter>
        </service>

        <!-- dConnect監視サービス. -->
        <!-- dConnectの生存確認を行うため、dConnectManagerとは別プロセスで動作する。 -->
        <service
            android:name="com.nttdocomo.android.dconnect.observer.DConnectObservationService"
            android:exported="false"
            android:process=":dconnect_observer_process" >
        </service>

        <!-- アプリ起動を受領し、監視プログラムを立ち上げるためのBroadcastReceiver. -->
        <receiver android:name="com.nttdocomo.android.dconnect.observer.receiver.ObserverReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <action android:name="com.nttdocomo.android.dconnect.intent.action.observer.START" />
                <action android:name="com.nttdocomo.android.dconnect.intent.action.observer.STOP" />
                <action android:name="com.nttdocomo.android.dconnect.intent.action.observer.CHECK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>