<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.host"
    android:versionCode="11"
    android:versionName="1.0.11" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.deviceconnect.android.deviceplugin.host.HostDeviceApplication"
        android:allowBackup="true"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.setting.HostSettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <!-- d-Connect Host Device Plugin Provider. -->
        <receiver android:name="org.deviceconnect.android.deviceplugin.host.HostDeviceProvider" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/deviceplugin" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
                <action android:name="org.deviceconnect.action.RESPONSE" />
                <action android:name="org.deviceconnect.action.EVENT" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver for Host -->
        <receiver android:name="org.deviceconnect.android.deviceplugin.host.HostDeviceReceiver" >
            <intent-filter>

                <!-- Battry Profile -->
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <!-- Connection Profile -->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />

                <!-- Phone Profile -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.host.HostDeviceService"
            android:exported="false" >
        </service>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.activity.BluetoothManageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <receiver android:name="org.deviceconnect.android.deviceplugin.host.camera.CameraReceiver" >
            <intent-filter>
                <action android:name="org.deviceconnect.android.intent.action.SEND_CAMERA_TO_HOSTDP" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.host.HostDeviceNotificationService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.video.VideoRecorder"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.video.VideoPlayer"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.camera.CameraActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.video.PhotoActivity"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.audio.AudioRecorder">
        </activity>

        <receiver android:name="org.deviceconnect.android.deviceplugin.host.video.VideoRecorder" >
            <intent-filter>
                <action android:name="org.deviceconnect.android.intent.action.SEND_VIDEO_TO_HOSTDP" />
            </intent-filter>
        </receiver>

        <provider
            android:name="org.deviceconnect.android.provider.FileProvider"
            android:authorities="org.deviceconnect.android.deviceplugin.host.provider"
            android:exported="true" >
            <meta-data
                android:name="filelocation"
                android:resource="@xml/filelocation" />
        </provider>

        <!-- LocalOAuth -->
        <activity
            android:name="org.deviceconnect.android.localoauth.activity.ConfirmAuthActivity"
            android:theme="@style/AppTheme.Translucent" >
        </activity>

        <service
            android:name="org.deviceconnect.android.localoauth.LocalOAuth2Service"
            android:exported="false" >
        </service>
    </application>

</manifest>