<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dConnectDeviceSphero.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>dConnectDeviceSphero_framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>dConnectDeviceSphero_resources.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB91707019617E940084DB70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE8C5651957FE860083D672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE8C5751957FE870083D672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE8C5BB195800850083D672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
