<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.irkit"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="org.deviceconnect.android.deviceplugin.irkit.IRKitDeviceProvider"
            android:exported="true" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/deviceplugin" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.irkit.IRKitDeviceService"
            android:exported="false"
            android:process=":irkit_service_process" >
        </service>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.irkit.settings.activity.IRKitSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- LocalOAuth -->
        <activity
            android:name="org.deviceconnect.android.localoauth.activity.ConfirmAuthActivity"
            android:process=":irkit_service_process" >
        </activity>

        <service
            android:name="org.deviceconnect.android.localoauth.LocalOAuth2Service"
            android:exported="false"
            android:process=":irkit_service_process" >
        </service>
    </application>

</manifest>