<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.deviceplugin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- d-Connect Example Device Plugin Provider. -->
        <receiver android:name=".ExampleDeviceServiceProvider" >
            <meta-data
                android:name="com.nttdocomo.android.dconnect.deviceplugin"
                android:resource="@xml/deviceplugin" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ExampleDeviceService"
            android:exported="false" >
        </service>

        <!-- LocalOAuth ユーザ認可ダイアログ用Activity -->
        <activity android:name="com.nttdocomo.android.dconnect.localoauth.activity.ConfirmAuthActivity" >
        </activity>

        <!-- LocalOAuth ユーザ認可ダイアログ用Service -->
        <service
            android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service" />
            </intent-filter>
        </service>        
        <activity
            android:name=".SettingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
