<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPIRKitVersion</key>
	<string>1.0</string>
	<key>DPIRKitAPIKey</key>
	<string>D3FEA7C4CD824FDDB1C0D730D33EF03E</string>
</dict>
</plist>
