<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nttdocomo.android.dconnect.deviceplugin.hue"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity 
            android:name=".activity.HueMainActivity" android:screenOrientation="portrait">
            
        </activity>
        

         <!-- LocalOAuth -->
        <activity android:name="com.nttdocomo.android.dconnect.localoauth.activity.ConfirmAuthActivity"
            android:theme="@style/AppTheme.Translucent">
        </activity>

        <service
            android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.nttdocomo.android.dconnect.localoauth.LocalOAuth2Service" />
            </intent-filter>
        </service>
        
        <!-- d-Connect Host Device Plugin Provider. -->
        <receiver android:name="com.nttdocomo.dconnect.message.intent.DConnectAndroidResponseReceiver">
            <intent-filter>
                <action android:name="com.nttdocomo.android.dconnect.intent.action.RESPONSE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".HueDeviceProvider" >
            <meta-data
                android:name="com.nttdocomo.android.dconnect.deviceplugin"
                android:resource="@xml/deviceplugin" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
            </intent-filter>
        </receiver>
        <service android:name=".HueDeviceService" android:exported="false">
            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
            </intent-filter>
        </service>

        
    </application>

</manifest>
